body {
    background-color: #eff2f7;
}

body, html{
    margin:0;
    padding:0;
}

a {
    text-decoration: none !important;
    color: black;
}

.infoPages {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 50%;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.entryForm {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.entryForm h1,
.infoPages h1,
.infoPages h2 {
    background: #fb5209;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.newItem {
    background: #fb5209;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.entryForm input[type="text"],
.entryForm textarea,
.entryForm select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.entryForm input[type="text"]:focus,
.entryForm textarea:focus,
.entryForm select:focus {
    box-shadow: 0 0 5px #fb5209;
    padding: 3%;
    border: 1px solid #d46433;
}

.entryForm input[type="submit"],
.entryForm input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #fb5209;
    border-bottom: 2px solid #d46433;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    margin-bottom: 5px;
}

.entryForm input[type="submit"]:hover,
.entryForm input[type="button"]:hover,
.deletePage input[type="submit"]:hover,
.deletePage input[type="button"]:hover {
    background: #d46433;
}

.deletePage {
    font: 95% Arial, Helvetica, sans-serif;
    margin: 10px auto;
    padding: 16px;
    background: #fff;
}

.deletePage input[type="submit"],
.deletePage input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fb5209;
    border-bottom: 2px solid #d46433;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    margin-bottom: 5px;
}