 {% extends "main.html" %}
 {% block content %}
 {% include "header.html" %}
<div class="entryForm">
    <h1> New NBA Team </h1>
    <form action="#" method='post'>
        <p> Team Name: </p>
        <input type='text' size='30' name='name'>
        <p> City: </p>
        <input type='text' size='30' name='city'>
        <p> State: </p>
        <input type='text' size='30' name='state'>
        <p> Conference: </p>
        <input type='radio' name='conference' value='West' checked> West </br>
        <input type='radio' name='conference' value='East'> East </br>
        </br>
        <input type='submit' value='Create'>
        <a href="{{url_for('showTeams')}}"> Cancel </a>
    </form>
</div>
{% endblock %}