<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1> New NBA Team </h1>
    <form action="#" method='post'>
        <p> Team Name: </p>
        <input type='text' size='30' name='name'>
        <p> City: </p>
        <input type='text' size='30' name='city'>
        <p> State: </p>
        <input type='text' size='30' name='state'>
        <p> Conference: </p>
        <input type='radio' name='conference' value='West'> West </br>
        <input type='radio' name='conference' value='East'> East </br>
        </br>
        <input type='submit' value='Create'>
    </form>
</body>

</html>